asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
contourpy==1.3.2
coverage==7.13.5
cycler==0.12.1
Django==4.2.30
django-debug-toolbar==6.3.0
django-stubs==6.0.3
django-stubs-ext==6.0.3
exceptiongroup==1.3.1
fonttools==4.63.0
git-filter-repo==2.47.0
gunicorn==26.0.0
idna==3.13
iniconfig==2.3.0
kiwisolver==1.5.0
matplotlib==3.10.9
numpy==2.2.6
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.0.3
pytest-cov==7.1.0
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.2
requests==2.33.1
six==1.17.0
sqlparse==0.5.5
tomli==2.4.1
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.3
whitenoise==6.12.0
